@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100vw !important;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

.container {
  width: 100vw !important;
  max-width: 100vw !important;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

.section {
  width: 100vw !important;
  max-width: 100vw !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
}


